main {
    background-color: #a3dae3;
    
}



body {
    color: #023059;
    cursor: url('../images/vibrator-1.png'), auto;
}

h1 {
    color: #f8b195;
}

button, .btn {
    background-color: #f8b195;
    color: #023059;
    cursor: url('../images/vibrator-1.png'), auto;
}
.light-blue {
    color: #a3dae3;
}


.dark-blue{
    color: #023059;
}


.peach {
    color: #f8b195;
}


.white{
    color: #ffffff;
}


.navbar {
    background-color: #023059;
}