html {
    scroll-behavior: smooth;
}
a:hover{
    cursor: url('../assets/images/nipple.png') 21 21, auto !important;
}


body {
    color: #023059;
    cursor: url('../assets/images/vibrator-1.png') 21 0, auto;
    background-color: #a3dae3;
}

h1 {
    color: #f8b195;
}

button, .btn {
    background-color: #f8b195;
    color: #023059;
    cursor: url('../assets/images/vibrator-1.png') 21 0, auto;
}
.light-blue {
    color: #a3dae3;
}


.dark-blue{
    color: #023059;
}


.peach {
    color: #f8b195;
}


.white{
    color: #ffffff;
}


.navbar {
    background-color: #023059;
}

