<div class="spotify-socials">
<div class="container">
    <div class="row">
        <div class="spotify col">
            <iframe class="d-flex m-auto col" src="https://open.spotify.com/embed/playlist/1mZo9DUtXiYMZOqhQE0pDo" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        </div>

        <div class="socials col">
            <a class="soc-btn btn col fb-btn" (click)="goToFacebook()">
                Check us out on facebook <span class="facebook-icon" ><img src="../assets/images/fb-icon.svg"/></span>
            </a>
            <a class="soc-btn btn col ig-btn" (click)="goToInstagram()">
                Follow us on Insta <span class="instagram-icon" ><img src="../assets/images/ig-icon-1.png"/></span>
            </a>
        </div>
    </div>
</div>
</div>
