p {
      text-align: center;
      font-size: 4em;
      margin-top: 3rem;
}

.countdown-pic {
  width: 400px;
  height: 400px;
}

.streams {
  text-align: center;
  height: 100vh;
}

#demo {
  color: #ff6691;
  font-family: 'Roboto Slab', serif;
}