<app-navbar></app-navbar>
<br><br>

<div class="events-wrapper" >
  <button *ngIf="leftScrollFlag" class="left-scroll" mat-button (click)="scrollLeft()"><span class="mat-button-wrapper material-icons">keyboard_arrow_left</span></button>
  <div #widgetsContent class="container events d-flex">
    <div class="event-card d-flex event" *ngFor="let event of events">
      <div class="event-card-title">
        <h5> {{event.title}} </h5>
        <p> {{event.subtitle}} </p>
      </div>
      <img src={{event.pic}}>

      <div  class="card-cap">
        <p class="cap-text">
          {{event.desc}}
        </p>
        <div class="cap-bottom d-flex">
          <a class="btn event-enroll" (click)="openDialog()">Enroll</a>
          <p class="date">{{event.date | date: 'short'}}</p>
          <a *ngIf="event.signupLink" href={{event.signupLink}} target="_blank"
            class="btn event-enroll">{{event.signups}}</a>
          <a *ngIf="event.spotify" href={{event.spotify}} target="_blank" class="btn event-enroll">Spotify</a>
          <a *ngIf="event.soundcloud" href={{event.soundcloud}} target="_blank" class="btn event-enroll">Soundcloud</a>
        </div>
      </div>
    </div>
  </div>
  <button *ngIf="rightScrollFlag" class="right-scroll" mat-button (click)="scrollRight()"><span class="mat-button-wrapper material-icons">keyboard_arrow_right</span></button>

</div>
