.event {
  width: 100%;
  margin-bottom: 20px;
}


app-navbar {
  background-color: black;
}

body {
  margin-top: 50px;
}

.events {
  overflow: hidden;
  scroll-behavior: smooth;
  max-width: 90%;
  position: absolute;
    top: 51px;
    bottom: 0;
    margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
}


.scroll-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


.slideshow {
  overflow: hidden;
  flex-directionn: row;
}

.slideshow > div {

  transform: translate3d(0, 0, 0);
  animation: moveSlideshow 12s linear infinite;
}


@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}
.mat-button-wrapper {
  background-color: #f8b195;;
  WIDTH: 2.25REM;
  font-size: 2.5rem;
  border-radius: 100%;
  DISPLAY: FLEX;
  ALIGN-ITEMS: CENTER;
  JUSTIFY-CONTENT: CENTER;
  HEIGHT: 2.25REM;
}

.events-wrapper {
  background-color: black;
}

.event-card{


  background-color: #a3dae3;
  width: 44.5vw;
  transition: .5s ease;
  flex-direction: column;
  position: relative;
  transition: .5s ease;
  margin: 0;

   /** TAKEN FROM ANGULAR MATCARD **/
   box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
   0 1px 1px 0 rgba(0,0,0,.14),
   0 1px 3px 0 rgba(0,0,0,.12);

   color: #023059;

/** END TAKEN FROM ANGULAR MATCARD **/

line-height: normal;
height: fit-content;
}

.event-card:hover .card-cap{
  display: flex;
  opacity: 1;
  transition: .5s ease;

}

.event-card:hover .event-card-title, .event-card:hover img {
  opacity: 0.3;
}

.event-card img {
  height: 47vw;
  width: auto;
}

.card-cap {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: .5s ease;
  flex-direction: column;
  justify-content: center;
  width: inherit;
  align-items: center;
  background: #2229;
  color: white;
  text-shadow: 0px 0.5px 0.5px black;
}





.card-cap, .event-card-title {
padding: 1em;
}
.event-card-title p{
margin-bottom: 0;
}

.cap-bottom {

flex-direction: column;
justify-content: space-between;
align-items: center;

}

.cap-bottom p {
margin-bottom: 0;
font-size: 1.5rem;
}


.cap-text {
  height: 13vw;
  margin: auto;
  overflow-y: auto;
  font-family: 'Roboto Slab', serif;
}

.btn.event-enroll {
  color: #023059;
  text-shadow: none;
}

.btn.event-enroll:hover {
  color: #f8b195;
  background-color: #023059;
}

p.date {
  font-family: 'Roboto Slab', serif;
}

.left-scroll {
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.right-scroll {
  position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 600px) {
  .events {
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: normal;
    align-items: center;
  }
  .left-scroll {
    display: none;
  }
  .right-scroll {
    display: none;
  }
  .event {
    margin-bottom: 10vw;
  }
  .card-cap {
    position: normal;
  }
}
