.event {
  width: 100%;
  margin-bottom: 20px;
}

body {
  margin-top: 50px;
}


div.events.d-flex {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.scroll-button {
  position: absolute;
  right: 0;
}





.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


.slideshow {
  overflow: hidden;
  flex-directionn: row;
}

.slideshow > div {

  transform: translate3d(0, 0, 0);
  animation: moveSlideshow 12s linear infinite;
}


@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}




.event-card{

  background-color: #aaa;
  width: 50vw;
  flex-direction: column;
  margin: 0;

   /** TAKEN FROM ANGULAR MATCARD **/
   box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
   0 1px 1px 0 rgba(0,0,0,.14),
   0 1px 3px 0 rgba(0,0,0,.12);

   color: green;

/** END TAKEN FROM ANGULAR MATCARD **/

line-height: normal;
}

.event-card img {
  width: inherit;
}



.card-cap, .event-card-title {
padding: 1em;
}
.event-card-title p{
margin-bottom: 0;
}

.cap-bottom {
flex-direction: row;
justify-content: space-between;
align-items: center;

}

.cap-bottom h4 {
margin-bottom: 0;
}
