

<footer class="pt-4 pt-md-5">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="./assets/images/logo.png" alt="" >
      </div>
      <div class="col-6 col-md">
        <h2>Graphic Artists</h2>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://nellylin.myportfolio.com/"><h4>Nelly Lin || Portfolio</h4></a></li>
          <li><a class="text-muted" href="#"><h4>Miya Jia</h4></a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h2>Website Creators</h2>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#"><h4>Nelly</h4></a></li>
          <li><a class="text-muted" href="#"><h4>Nick</h4></a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h2>Interested in Organizing Sex Week?</h2>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSe9x-EAZGREtKzvSccP2PLneLav54WAjKHl4R12T7xHbmXvdw/formrestricted"><h4>Sign Up</h4></a></li>
        </ul>
      </div>
    </div>
  </footer>
