footer {
    background-color: #a3dae3;
    padding: 2rem 0;
}

footer img {
     width: 100%;
}


.foot-col {
    margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
    .socials {
        margin-bottom: 2em;
    }
}