

<footer class="pt-4 pt-md-5">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="./assets/images/logo.png" alt="" >
      </div>
      <div class="col-6 col-md">
        <h5>Graphic Artists</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://nellylin.myportfolio.com/">Nelly Lin (portfolio)</a></li>
          <li><a class="text-muted" href="#">Miya Jia</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Website Creators</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Nelly</a></li>
          <li><a class="text-muted" href="#">Nick</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Interested in Organizing Sex Week?</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSe9x-EAZGREtKzvSccP2PLneLav54WAjKHl4R12T7xHbmXvdw/formrestricted">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </footer>
