

<footer class="">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="./assets/images/logo-box.png" alt="" >
      </div>
      <div class="col-6 col-md">
        <h4>Graphic Artists</h4>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://nellylin.myportfolio.com/"><h4>Nelly Lin || Portfolio</h4></a></li>
          <li><a class="text-muted" href={{miyaEmail}} target="_blank"><h4>Miya Jia || Email</h4></a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h4>Website Creators</h4>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href={{nellyEmail}} target="_blank"><h4>Nelly || Email</h4></a></li>
          <li><a class="text-muted" href="#"><h4>Nick</h4></a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h4>Interested in Organizing Sex Week?</h4>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSe9x-EAZGREtKzvSccP2PLneLav54WAjKHl4R12T7xHbmXvdw/formrestricted"><h4>Sign Up</h4></a></li>
        </ul>
      </div>
    </div>
  </footer>
