<div class="home-wrapper">

  <div class="banner">
    <p>Banner Here</p>
  </div>

  <div class="tabs">
    <button class="tab" id="home-tab">Home</button>
    <button class="tab" id="current-stream">Current Stream</button>
    <button class="tab" id="events">Events</button>
  </div>

  <div class="title-wrapper">
    <h1 class="title">Northwestern Sex Week</h1>
  </div>


  <div class="about-wrapper">
    <div class="about-section">
      <h3 class="about-title">About</h3>
      <p class="about-text"></p>
    </div>
  </div>

  <div class="facebook-link">
    <button class="facebook-icon">Icon Here</button>
  </div>

  <div class="instagram-link">
    <button class="instagram-icon">Icon Here</button>
  </div>

</div>
