<app-navbar></app-navbar>
<app-banner></app-banner>
<div class="home-wrapper">



  <!-- Marketing messaging and featurettes
      ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <div class="highlights">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4 high-1 high-col">
        <i class="far fa-calendar-alt"></i>
        <br><br>
        <p><a class="btn high-btn" target="_blank" (click)="goToEvents()" role="button">Events &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 high-2 high-col">
        <i class="fas fa-video"></i>
        <br><br>
        <p><a class="btn high-btn" target="_blank" (click)="goToStream()" role="button">Stream &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 high-3 high-col">
        <i class="fas fa-gifts"></i>
        <br><br>
        <p><a class="btn high-btn" target="_blank"
            href="https://docs.google.com/forms/d/e/1FAIpQLSfrf5nqt5CS6OYSfrNEObuRbwnC0acwQ6aLd4poxDQp4pORwg/viewform?usp=sf_link"
            role="button">Win a free Sex Toy (NU only!) &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div>

  <div class="home-section">
    <div class="container">
      <!-- START THE FEATURETTES -->
      <div id="About" class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="./assets/images/logo-box.png"
            alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h1>Sex Week. <span class="text-muted">It'll blow your mind.</span></h1>
          <br />
          <p class="lead">Sex Week is a series of events put on by NU College Feminists over the course of a week that
            is designed to increase awareness of issues related to sexuality and sexual health. Sex Weeks exist at
          colleges across the nation; ours was founded in 2007. For this year’s Sex Week, we made a special effort to highlight
          those with non-normative sex lives. We’ve chosen speakers that are members of the
          queer or qtpoc community. We hope you have fun and learn a lot!! This year our co-presidents are Eliza and
          Jiyul.</p>
        </div>
      
      </div>
    </div>


  </div>


  <div id="Organizers" class="home-section">
    <div class="container">
      <div class="row bio-row eliza">
        <div class="bio-info" style="padding-right: 1rem;">
        <h2>{{elizaBio.name}}</h2>
        <p class="lead">{{elizaBio.bio}}</p>
        </div>
        <img class="featurette-image img-fluid mx-auto" id="bioPic" src={{elizaBio.pic}} style="padding-left: 1rem;">
      </div>
      <div class="row bio-row jiyul">
        <img class="featurette-image img-fluid mx-auto" id="bioPic" src={{jiyulBio.pic}} style="padding-right: 1rem;">
          <div class="bio-info" style="padding-left: 1rem; text-align: right;">
          <h2>{{jiyulBio.name}}</h2>
          <p class="lead">{{jiyulBio.bio}}</p>
          </div>
      </div>
    </div>
    <!-- /END THE FEATURETTES -->
  </div><!-- /.container -->

</div>

<app-spotify-social></app-spotify-social>
<app-footer></app-footer>
