<div class="home-wrapper">

  <div class="banner">
    <p>Banner Here</p>
  </div>

  <div class="tabs">
    <button class="tab" id="home-tab">Home</button>
    <button class="tab" id="current-stream">Current Stream</button>
    <button class="tab" id="events">Events</button>
  </div>

  <div class="title-wrapper">
    <h1 class="title">Northwestern Sex Week</h1>
  </div>

  <div class="about-wrapper">
    <div class="about-section">
      <h3 class="about-title">About</h3>
      <p class="about-text"></p>
    </div>

  <div class="enroll-wrapper">
      <h4>Enroll</h4>
      <h5>Win a Free Sex Toy</h5>
    </div>
  </div>

  <div class="socials">
      <button class="facebook-icon" (click)="goToFacebook()"><img src="../assets/pics/fb-icon.svg"/></button>
      <button class="instagram-icon" (click)="goToInstagram()"><img src="../assets/pics/ig-icon.png"/></button>
  </div>

</div>
