.banner {
  width: 100%;
  height: 100px;
  text-align: center;
  border: 1px solid black;
}

.tabs {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  text-align: center;
  border: 1px solid black;
}

.tab {
  margin-left: 20px;
  padding: 20px 20px 20px 20px;
}

.title-wrapper {
  text-align: center;
}

.about-wrapper {
  width: 100%;
  text-align: center;
  display: inline-block;
}


.about-section {
  text-align: center;
  width: 400px;
  height: 300px;
  border: 1px solid black;
  margin: 0;
  display: inline-block;
}

.enroll-wrapper {
  margin-left: 300px;
  width: 300px;
  height: 250px;
  border: 1px solid black;
  text-align: center;
  display: inline-block;
}


.container.highlights{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
  }

  .high-1 {
    background-color: #F8B195;
  }

  .high-2 {
    background-color: #E69597;
  }

  .high-3 {
    background-color: #FF7477;
  }

  .high-col {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4em 2em;
    justify-content: space-around;
    transition: transform .3s; 
    
  }

  .high-col:hover {
    transform: scale(1.03);
    z-index: 1;
  }

  .highlights .row {
    width: 100vw;
  }

  .highlights i {
    font-size: 5em;
  }

  .high-btn {
    background-color: transparent;
    font-size: 1.75em;
    border: 3px solid #023059;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.25em;
  }

  .featurette {
    align-items: center;
  }

  .home-wrapper {
    background-color: #a3dae3;
  }

  .marketing {
    padding-bottom: 2em;
  }


