<header>
    <nav id="Nav" class="navbar navbar-expand-md navbar-dark fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarCollapse">
        <ul class="navbar-nav m-auto ">
          <li class="nav-item active">
            <a class="nav-link" (click)="goHome()" >Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goToStreams()" >Stream</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" (click)="goToEvents()" >Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)=goToAbout() >About</a>
            </li>
        </ul>
      </div>
    </nav>


  </header>
